APP_ENV: "production"
APP_KEY: "2wsjLSopTjD6WQEztTYIZgCFou8wpLJn"
APP_URL: "http://${HOST}:${PORT}"
CACHE_VIEWS: "false"
ENV_SILENT: "true"
NODE_TLS_REJECT_UNAUTHORIZED: "0"
HOST: "0.0.0.0"
NODE_ENV: "production"
SESSION_DRIVER: "cookie"
SPELLCHECK_ENABLED: "true"